/*
1 - Posicione o Mário acima do Goomba.
2 - Posicione a tag p para que fique dentro do balão de fala.
3 - Posicione o balão para que se torne uma fala de Bowser.
*/

.super-mario {
  width: 200px;
  position: absolute;
  left: 100px;
  top: 100px;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 400px;
  left: 150px;
}

.baloon {

}

.speach {
  font-size: 25px;
}

.bowser {
  width: 200px;
}