.app-container{
  width: 80%;
  margin: auto;
}
h1{
  text-align: center;
}

.pokemon-card-container{
  display: flex;
  margin: auto;
  justify-content:space-evenly;

}
.pokemon-image-container{
  margin: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.pokemon-image-container img{
  width: 150px;
}